.center {
  text-align: center;
}

.wrapper {
  display: inline-flex;
  gap: 24px 0;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 32px 24px;
    margin-bottom: 80px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    gap: 48px 32px;
  }
}

.empty {
  text-align: center;
  padding: 100px 20px;
  color: rgba(18, 20, 23, 0.5);
}

.empty p {
  margin: 8px 0;
  font-size: 16px;
}

.loadMore {
  max-width: 156px;
  margin-bottom: 124px;
}

.pb {
  padding-bottom: 124px;
}
