.searchForm {
  display: inline-flex;
  gap: 16px;
  text-align: left;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-block: 16px;
  width: 100%;
}

@media (min-width: 1024px) {
  .searchForm {
    margin: 84px auto 56px;
    flex-wrap: nowrap;
    width: 924px;
  }
}

.item {
  width: 100%;
}

@media (min-width: 768px) {
  .item {
    width: calc(50% - 8px);
  }
}

.label {
  font-size: 12px;
  line-height: 16px;
  color: #8d929a;
  margin-bottom: 8px;
}

.button {
  max-width: 156px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 24px;
  border-radius: 12px;
  color: #ffffff;
  background: #3470ff;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background: #0b44cd;
}

.buttonWrapper {
  margin-left: auto;
  max-width: 156px;
  width: 100%;
}

@media (min-width: 1024px) {
  .brand {
    width: 204px;
  }

  .price {
    width: 196px;
  }

  .mileage {
    width: 320px;
  }
}

.priceSelect {
  --options-max-height: 160px;
}
