.header {
  background-color: #f2f4f7;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

@media (min-width: 1440px) {
  .container {
    padding: 0 120px;
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  color: #121417;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  transition: color 0.25s ease;
  padding: 4px 0;
}

.link:hover {
  color: #0b44cd;
}

.active {
  color: #0b44cd;
}
