.button {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 24px;
  border-radius: 12px;
  color: #121417;
  background: transparent;
  border: 1px solid #3470ff;
  cursor: pointer;
  transition: border-color 0.25s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button:hover:not(:disabled) {
  border-color: #0b44cd;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
